#container {
	position: relative;
	display: block;
	background-color: green;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	border:2px solid black !important;
	margin-left: auto;
	margin-right: auto;
	display: block;	
}

body {
	width: 100%;
	height: 100%;
	background-color: #cac8c5;
}
select {
	float: top;
}
#controlPanel{
	display: inline-block;
	background-color: red;
}
